/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
// Medium devices (tablets, 48em and up)
@media (max-width: 768px)		
	body
		font-size 14px
		
	/**********************
        HEADER
    **********************/
					

@media (max-width: 630px)
	/**********************
        INDEX
    **********************/
	.containerGeneral
		width 90%
		&-marketing
			.item
				display block
				width 80%
				margin 0 auto 1.5em auto
				figure
					width 3em
					
		&-reserv
			.item
				figure
				.datos
					display block
					text-align center
				
				figure
					margin 0 auto
					
		&-menu
			.itemMenu
				a
					figure
					p
						display block
						text-align center
						
					figure
						margin 0 auto
		&-table
			.total
				p
					&:last-child
						width 40%


// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px
		
	/**********************
        HEADER
    **********************/