/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
/*@media (max-width: 1600px)*/
	/**********************
		INDEX
    **********************/
	
    	
@media (max-width: 1447px)
	/**********************
		HEADER
    **********************/
	.header
		padding 0
		&-container
			flex-center()
			.item
				margin 0 auto
				
			nav
				width 100%
				margin 0 auto .7em auto
				flex-center()
				ul
					flex-center()
					li
						margin 0 !important
						&:nth-child(2)
							margin 0
							border-left 0
						&:nth-last-child(2)
							margin-right 0.6em !important
	
			
	/**********************
		EMPRESAS
    **********************/
	
		
	/**********************
		PLANES
    **********************/
	
    		
@media (max-width: 1297px)
	
	/*.grid
		width 60em*/
		
	/**********************
		HEADER
    **********************/
	.header
		&-container
			padding-bottom 0.8em
			display block
			.item
				padding-left 1.2em
				a
					figure
						width 9em
						top 0
			nav
				width auto
				float right
				margin-top -3em
				
				.language
					width 9em
					padding-top 0.3em
					
				.btn-special-mobile
					display block
					width 13em
					padding-top 0.5em
					.item
						display inline-block
						padding-left 0.7em
					
					
				.nav-mobile
					display block
					position relative
					right 2em
					z-index 11
					margin -0.3em 2em 0 0
					
				ul
					position fixed
					z-index 10
					background rgba(58, 78, 151, 0.98)
					top 0
					left 0
					right 0
					bottom 0
					padding 5em 2em 2em 2em
					text-align center
					display none
					li
						display block
						float none
						margin 0 auto 1em auto !important
						text-align center
						width 60%
						select
							height 3.7em !important
							color white !important
							border 1px solid white !important
						a
							width 100%
							padding 1em 2em
							
						&.item
							margin 0 auto !important
							a
								color white
								font-size 1.2em
						
						&:nth-last-child(2)
							margin 0 auto 1em auto !important
							
						&:nth-child(2)
							border-left 0
							padding-left 0
							
	.user-main
		&-contain
			.bills
				.position-resum
					.item
						p
							width 64%
	
    	
	/**********************
		INDEX
    **********************/
	.contact
		&-formulario
			right 5%

	
	/**********************
		MIS-CREDITOS
    **********************/    	
	.credits
		&-container
			li
				.motivo
					width 50%
					
	/**********************
		POST-USER
    **********************/
	.jobs-detail
		&-body
			&-resum
				li
					width 50%
	

// Large devices (desktops, 62em and up)
@media (max-width: 991px)
	.grid
		width 51em
		
	/**********************
		MODALES
    **********************/
	.modal-noLeido
		.postList-contain-filter
			margin 0

		
	/**********************
		HEADER
    **********************/
	.header-index
		.message
			h1
				font-size 6.5em
				
			h3
				font-size 1.2em
				width 100%
				
	.header-registered
		nav
			a
				p
					font-size 0.9em

	/**********************
       INDEX
    **********************/
	.pc
		display none
	.tablet
		display block
		
	.generic
		&-skill
			width 90%
			
	.titleWin
		&-container
			width 30em
	


	/**********************
        LOGIN
    **********************/			
	.body-login
		background-image url("../img/background-loginTablet.png")
	
	/**********************
        REGISTER
    **********************/
	.body-register
		background-image url("../img/background-registerTablet.png")
		
	/**********************
        CONFIRMACION DE REGISTRO
    **********************/
	.body-confirm
		background-image url("../img/background-confirmTablet.png")
		
	/**********************
		MIS CREDITOS
    **********************/
	.admin-resum
		flex-center() 			
		&-item
			margin-bottom 1.5em
			flex-center()
			.item
				&:nth-child(3)
				&:nth-child(4)
					display none
					
		.item-mobile
			border-top 1px solid gris-new
			margin-bottom 0
			padding 1em 0 0.7em 0
			.item
				&:nth-child(1)
					border-left 0
	
	/**********************
        INDEX-REGISTRADO
    **********************/
	.user-main
		display block
		&-create
			width 100%
		
		&-contain
			width 70%
			margin 1em auto 3em auto
			.bills
				&:nth-child(1)
					display none
	.no-mobile
		display none
				
	.team-mobile
		&-btn
			display block
			

	/**********************
		MESSAGE
    **********************/
	.message-main
		&-contact
			width 100%
			margin-bottom 2.5em
			height 15em
			.team-container-tools 
				.active-one 
					select
						width 11em
		
		&-message
			width 100%


	/**********************
        ERROR 404
    **********************/
	.body404-text
		width 75%

		
	/**********************
		POST-LIST
    **********************/
	.postList-contain
		.credits
			width 100%
			
	.postList-contain-filter
		width 28em
		margin 3em auto
		
	.input-search
		width 23em !important
		
	/**********************
		POST-USER
    **********************/
	.jobs-detail
		&-body
			&-resum
				li
					width 32%


//MEDIA QUERIE ESPECIAL POR ZONEMAIN		
@media (max-width: 835px)
	/**********************
       INDEX
    **********************/
	.grid
		width 45em
		
	/**********************
       HEADER
    **********************/
	.header-registered
		&-container
			.item-logo
				order 2
			
			.item
				order 1
				width 100%
				margin-bottom 1em
				flex-center()
				li
					&:last-child
						.dropdown-button
							span
								font-size 2em
								padding 0
							p
								display none
								
		nav
			height auto
			line-height initial
			background none
			box-shadow none !important
			width 100vw
			float right
			margin-top -3em
				
			.nav-mobile
				display block
				position relative
				right 2em
				z-index 11
				margin -1em 2em 0 0
				text-align right
			ul
				position fixed
				z-index 10
				background rgba(58, 78, 151, 0.98)
				top 0
				left 0
				right 0
				bottom 0
				padding 5em 2em 2em 2em
				text-align center
				display none
				width 100vw !important
				overflow-y auto
				li
					display block
					float none
					margin 0 auto 1em auto !important
					text-align center
					width 60%
					select
						height 3.7em !important
						color white !important
						border 1px solid white !important
					a
						width 100%
						padding 1em 2em
						

	/**********************
       MIS-CALIFICACIONES
    **********************/
	.comment
		&-user
			width 20%
			
		&-detail
			width 79%
			
	/**********************
		MIS-CREDITOS
    **********************/    	
	.credits
		&-container
			li
				.activity-cards
					width 45%
				.motivo
					width 39%
					
	/**********************
		NEW-POST
    **********************/  
	.supplier-recommended
		&-container
			li
				.link
					.btn-main
						padding 0.7em 0
						width 100%
						margin 0 auto
	

// Medium devices (tablets, 48em and up)
@media (max-width: 769px)
	body
		font-size 14px
		
	.grid
		width 42em		

	/**********************
        INDEX
    **********************/
	.generic
		.skill-rangos
			display block
			.item				
				width 20em
				margin 0 auto
	.ventajas
		background-image url("../img/ventajas-tablet.png")
		
	.garantias
		background-image url("../img/garantias-tablet.png")
		
	.membresias
		background-image url("../img/membresias-tablet.png")
		
	.question
		background-image url("../img/question-tablet.png")
		
	.contact
		.mapa
			height 20em
		&-formulario
			position initial
			width 100%
			.title
			form
				width 50%
				margin 0 auto
				
			.title
				padding-bottom 1.5em

		
	/**********************
		MIS-FACTURAS
    **********************/
	.bills
		width 90%
		

	/**********************
		MIS-CREDITOS
    **********************/    	
	.credits
		&-container
			li
				.motivo
					width 36%
					
	/**********************
        INDEX-REGISTRADO
    **********************/
	.user-main
		&-create
			.bills
				width 100% !important
				
		&-contain
			width 100%
			.bills
				width 100% !important
				text-align center
				.position-resum
					.item
						display block
						margin-bottom 0.9em
						h4
						p
							width 100%
							font-size 1.1em
							
				.alerts-div
					li
						.supplierContain1
							width 11em
			
	/**********************
        ERROR 404
    **********************/
	.body404
		background-image url("../img/error404-tablet.png")


@media (max-width: 630px)
	body
		font-size 14px
		
	.grid
		width 90%
		
	/**********************
		MODALES
    **********************/
	.modal-noLeido
		width 90% !important
		
	/**********************
		HEADER
    **********************/
	.header
		background red
		&-container
			padding-left 0.8em
			flex-between()
			.item
				text-align left
				width auto
				margin 0
			nav
				margin 0
				float none
				
				.language
					margin-right 3.5em
				
				.btn-special-mobile
					display none
					
				ul
					li
						text-align center !important
    			

	.header-index
		.message
			h1
				font-size 5em


	/**********************
    	INDEX
    **********************/
	.tablet
		display none
	.mobile
		display block
		
	.generic
		.skill-A
			.item
				width 100%
				
		.partner
			flex-center()
			.item
				width 80%
	
	.titleWin
		&-container
			width 80%
			.vineta1
			.vineta2
				left -3em
				
	.contact
		&-formulario
			.title
			form
				width 80%
			
	/**********************
        LOGIN
    **********************/
	.body-login
		background-image url("../img/background-loginPhone.png")
		
	/**********************
        REGISTER
    **********************/
	.body-register
		background-image url("../img/background-registerPhone.png")
		
	/**********************
        CONFIRMACION DE REGISTRO
    **********************/
	.body-confirm
		background-image url("../img/background-confirmPhone.png")
		header
			.language
				position initial
				margin 0.5em auto 0 auto
		
	
	/**********************
		ERROR 404
    **********************/
	.body404
		background-image url("../img/error404-Phone.png")
		
	.body404-text
		width 80%
		h3
			font-size 3em
		h1
			font-size 5em
			
	/**********************
		MIS-FACTURAS
    **********************/
	.Tcargo
		display none
		
	/**********************
       MIS-CALIFICACIONES
    **********************/
	.comment
		display block
		&-user
			width 100%
			
		&-detail
			width 100%
			
	/**********************
		MIS-CREDITOS
    **********************/    	
	.credits
		&-container
			li
				.activity-cards
					width auto
				.motivo
					width 100%
					text-align center
					.qualification
						flex-center()

							
	/**********************
        POST-LIST
    **********************/
	.opportunity-admin
		.item
			margin-bottom 1em
			
	.postList-contain
		.credits
			&-title
				h3
					width 50%
					
				.orderFilter
					margin-top -2.2em
			
	/**********************
		INDEX-REGISTRADO
    **********************/
	.user-main
		&-create
			.supplier-list
				li
					width 100%
					.options
						.dropdown-button
							font-size 1.2em
						


	/**********************
		FOOTER
    **********************/
	.footer
		&-container
			.item
				&:nth-child(1)
					order 3
					padding-top 1.5em
					
				&:nth-child(2)
					order 1
					
				&:nth-child(3)
					order 2
					
			.derechos
				order 4
				

	/**********************
		NEW-POST
    **********************/ 
	.newPost
		&-container
			.dual
				.itemForm
					width 100%
					
	.supplier-recommended
		&-container
			li
				width 48%
				margin-bottom 1.5em
				.link
					.btn-main
						padding 0.7em 0
						width 100%
						margin 0 auto

							
	/**********************
		POST-USER
    **********************/
	.jobs-detail
		&-body
			&-resum
				li
					width 50%
				
@media (max-width: 535px)
	/**********************
        INDEX-REGISTRADO
    **********************/
	.user-main
		&-create
			.bills
				&:nth-child(1)
					.credits-container
						height 21em
						
				&:nth-child(2)
					.credits-container
						height 27em
			

@media (max-width: 500px)	
	
	/**********************
		FOOTER
    **********************/
	.footer
		&-container
			.item
				&:nth-child(1)
					width 100%
					padding-top 1.5em
					text-align center
					
				&:nth-child(2)
					width 100%
					text-align center
					margin-bottom 1.5em
					
				&:nth-child(3)
					width 100%
					text-align center
					
			.derechos
				order 4
			
@media (max-width: 470px)
	/**********************
    	INDEX
    **********************/
	.generic
		&-skill
			flex-center()
			.item
				width 80%

	/**********************
		HEADER
    **********************/
	.header-registered
		&-container
			.item
				li
					&:nth-child(2)
						display none
						
		nav
			ul
				.option-mobile
					display block
					
	/**********************
		MIS-FACTURAS
    **********************/
	.P-estatus
		display none
		
	/**********************
		MODALES
    **********************/
	.modal-noLeido
		.modal-content
			.supplier-list
				li
					width 100%
		

@media (max-width: 425px)
	/**********************
		MIS-CREDITOS
    **********************/    	
	.credits
		&-container
			li
				.points
					margin 1em auto
					
				.activity-cards
					width 100%
					flex-center()
					
				.motivo
					margin-bottom 0.8em
					
	/**********************
		HEADER REGISTRADO
    **********************/ 
	.header-registered
		&-container
			.item
				li
					&:nth-child(5)
						.bills
							right -4em

// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px
		
	input
	select
		height 3.5em !important

	/**********************
		HEADER
    **********************/
	.header-registered
		&-container
			width 92% !important
			
	/**********************
		MIS CREDITOS
    **********************/
	.admin-resum
		flex-center()
		&-user
			figure
				font-size 4em
			&-datos
				padding 0.3em 0 0 0.4em
				p
					font-size 1.1em
				h4
					font-size 1.2em
					
		&-item
			padding-left 0
			margin-bottom 1.5em
			flex-center()
			.item
				border-left 0
				p
					font-size 1.3em
					padding 0.5em
				&:nth-child(3)
				&:nth-child(4)
					display none
					
		.item-mobile
			border-top 1px solid gris-new
			margin-bottom 0
			padding 1em 0 0.7em 0
			.item
				display block
				padding-left 1em
				&-leyend					
					figure
						font-size 3.4em
						
				p
					padding 0.3em 0 0 0
					text-align center
				&:nth-child(1)
					border-left 0
					padding-left 0
					
	.credits
		&-container
			li
				.points
					width 6em
					height 6em
					padding-top 1.1em					
					h4
						font-size 2em
					span
						font-size 1em
						
				.activity-cards
					figure
						font-size 3em
					/.item-activity
						h2
							font-size 1.5em
						h3
							font-size 1.2em
						h5
						p
							font-size 1em
				.motivo
					margin 0.8em 0
					p
						font-size 1.1em
					.qualification
						figure
							font-size 2em

				
	/**********************
        MIS CALIFICACIONES
    **********************/
	.comment
		&-user
			figure
				font-size 3em
			&-datos
				h3
					font-size 1.5em
				h4
					font-size 1.1em
		&-detail
			&-resum
				p
					font-size 1.1em
		

	/**********************
        INDEX-REGISTRADO
    **********************/
	.user-main
		&-create
			.bills
				&:nth-child(1)
					.credits-container
						height 23em
						
				&:nth-child(2)
					.credits-container
						height 29em
				.view-more
					a
						font-size 1.4em
						
			.supplier-list
				li
					.colab
						figure
							font-size 2.2em
						.datos
							h4
								font-size 1.3em
							span
							p
								font-size 1.1em
								
					.options
						.dropdown-button
							font-size 1.7em
						
		&-contain
			.bills
				.ranking
					figure
						font-size 3.5em
						
	.team-mobile
		&-btn
			right 1em
			
	.user-main-contain-resumTeam
		.tabs
			li
				a
					font-size 1.2em
		.team-container
			&-tools
				.active-one
					p
						font-size 1.1em
				.search-opt1
					span
						font-size 1.5em !important
			.team
				li
					/.team-card
						&-person
							figure
								font-size 2.5em
							.datos
								h3
									font-size 1.3em
								p
									font-size 1.1em
									
						.options
							.dropdown-button
								font-size 1.5em
			.new-team
				a
					font-size 1.3em
							
	/**********************
		MESSAGE
    **********************/
	.message-main
		&-contact
			.team-container-tools 
				padding-top 1em
				
			.collapsible
				li
					.collapsible-header
						h3
							font-size 1.1em
		
		&-message
			.message-body
				&-general
					.item
						p
							font-size 1em

				
	/**********************
		POST-LIST
    **********************/
	.postList-contain-filter
		height 45em
			
	.postList-contain
		.credits
			&-title
				h3
					width 100%
					font-size 1.2em
					text-align center
					
				.orderFilter
					float none
					margin-top 0.5em
					flex-center()
					select
						width 7.5em
						font-size 1em !important
						height 3em !important
